<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlosrestrepo.entregaicm1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".CrearUsuarioActivity" />
        <activity android:name=".CrearUsuario2Activity" />
        <activity android:name=".CrearUsuario3Activity" />
        <activity android:name=".SesionActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".Perfil2Activity" />
        <activity android:name=".BuscarActivity" />
        <activity android:name=".Buscar2Activity" />
        <activity android:name=".ReservasActivity" />
        <activity android:name=".CalificacionActivity" />
        <activity android:name=".Eventopricipal" />
        <activity android:name=".Evento" />
        <activity android:name=".Filtrarevento" />
        <activity android:name=".Noticiaprincipal" />
        <activity android:name=".Noticia" />
        <activity android:name=".Filtrarnoticias" />
        <activity android:name=".Anfitrion" />
        <activity android:name=".EditarPerfilAnfitrion" />
        <activity android:name=".ModificarLugar" />
        <activity android:name=".VerLugar" />
        <activity android:name=".ComprobarCalendario" />
        <activity android:name=".AgregarAlojamiento"></activity>
    </application>

</manifest>